.login-view {
	.tabs {
		margin: 0 auto 32px auto;
		text-align: center;
		.tab {
			color: color("grey", "500");
			font-weight: 500;
			font-size: 14px;
			transition: color .5s;
			padding: 8px;
			cursor: pointer;
			&.active {
				color: color($primary, "500");
			}

		}

		.highlight-spacer {
			transition: max-width .5s;
		}

		.highlight {
			width: 32px;
			height: 3px;
			margin: 0 auto;
			background-color: color($primary, "500");
		}
	}

	md-input-container {
		margin: 8px 32px 0 32px;
		width: 100%;
	}

	.error {
		font-size: 12px;
		color: color("red", "500");
		margin: 0 32px;
	}

	.login-row {
		justify-content: flex-end;
		padding-bottom: 8px;
		padding-right: 8px;

		md-progress-circular {
			padding-right: 32px;
		}
	}
}
