<div class="review-list">
	{{#each model.reviews as |review|}}
		{{review-card
		review=review
		open-coffee=(action 'openCoffee')}}
	{{/each}}
</div>
{{#paper-button primary=true raised=true fab=true class="new-btn" onClick=(action 'createReview')}}
	{{paper-icon 'add'}}
{{/paper-button}}
